<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   {% load static %} 
    {% block link %} <link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock link %}
</head>
<body>
    <img src="{% static 'images/logo.png' %}" alt="" class="logo">
    <img src="{% static 'images/logintitle.svg' %}" alt="" class="title-img">
    <div class="container">
        <button type="submit" id="submit-btn">
            <a href="/users/registerClient">
                Client</a>
        </button>
        <button type="submit" id="submit-btn">
            <a href="/users/registerShop">
                Repair and Maintenance shop</a>
        </button>
    </div>
        {% comment %} <!-- <p> already have na account? <a href="login">login</a> </p>  --> {% endcomment %}
</body>
</html>
